<h3>Lista de la compra: <%= @list.name %></h3>
<%= hidden_field_tag 'list_id', @list.id %>

<div class='table-responsive'>
  <table class='table-striped'>
    <tbody>
      <% @list.items.each do |item| %>
      <tr class='item'>
        <%= hidden_field_tag 'product_id[]', item.product.id %>
        <td class='col-xs-12'>
          <label class='item-in-list <%= item.collected ? 'crossed-out' : '' %>'>
            <%= check_box_tag item.product.id, item.product.name, item.collected, class: 'item_checkbox' %>
            <%= h item.product.name %>
          </label>
        </td>
        <td class='item-in-list'><%= item.quantity %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
